!!!
%html
  %head
    %title=SecretSetting.app_name
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/")=SecretSetting.app_name
          -if current_shop
            %ul.nav.pull-right
              %li.dropdown
                =link_to shop_url, class: 'dropdown-toggle', data: { toggle: :dropdown } do
                  =current_shop['name']
                  %b.caret
                %ul.dropdown-menu
                  %li
                    =link_to shop_url, target: :_blank do
                      %i.icon-home
                      商店前台
                  %li
                    =link_to "#{shop_url}/admin", target: :_blank do
                      %i.icon-cog
                      商店后台
                  %li.divider
                  %li
                    =link_to sign_out_path do
                      %i.icon-off
                      退出

    .container
      #main
        = yield
      #footer.footer
        %p
          ==Copyright©#{Date.today.year}
          =link_to SecretSetting.app_name, '/'
          版权所有
          |
          =SecretSetting.domain.record
