.content
  %h2 最近订单
  %table.table.table-striped
    %thead
      %tr
        %th 订单号
        %th 顾客
        %th 支付状态
        %th 发货状态
        %th 总金额
    %tbody
      -@orders.each do |order|
        %tr
          %td=link_to order['name'], "#{shop_url}/admin/orders/#{order['id']}", target: :_blank
          %td=order['customer']['name']
          %td
            %span.label(class="#{financial_class(order['financial_status'])}")
              =order['financial_status_name']
          %td
            %span.label(class="#{fulfillment_class(order['fulfillment_status'])}")
              =order['fulfillment_status_name']
          %td=order['total_price']

  %h2 商品信息
  #product-accordion.accordion
    -@products.each do |product|
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{href: "#product-#{product['id']}", data: {toggle: 'collapse', parent: '#product-accordion'}}
            =product['title']
        %div.accordion-body.collapse(id="product-#{product['id']}")
          .accordion-inner
            %p==类型: #{product['product_type']}
            %p==生产商: #{product['vendor']}
            =raw product['body_html']
            %br/
            %p=link_to "前往 ShopQi 后台管理查看", "#{shop_url}/admin/products/#{product['id']}", class: 'btn btn-primary', target: :_blank
